.starships {
  display: grid;
  grid-template-columns: repeat(3,20vw);
  grid-template-rows: repeat(3, 20vw);
  justify-content: center;
  align-content: center;
  gap: 10px;
  &__item {
    background-color: rgba(107, 61, 180, 0.14);
    color: #ffeda7;
    display: grid;
    gap: 5px;
    justify-items: center;
    text-align: center;
    padding: 10px;
  }
}